
img.portrait {
  width: 60px;
  height: 60px;
}

.link {
  margin: 0 10px;
}

.header {
  width: 100%;
  margin-bottom: 0px;
}

.tabs {
  padding: 10px;
  height: calc(100vh - 104px);
  width: 100%;
}

.content {
  overflow: scroll;
  height: 100%;
  width: 100%;
}

.footer {
  width: 100%;
  margin-top: 0px;
  height: 40px;
}
